<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<main class="relative flex flex-col sm:mx-auto sm:mt-28 sm:px-5 items-center">
  <%= render("shared/flash") %>
  <%= yield %>
</main>

<% parent_layout "base" %>
